@import "https://unpkg.com/leaflet/dist/leaflet.css";

.dropdown {
    height: 50px;
    width: 60px;
    position: relative;
    z-index: 2;
}
#map {
    height: 500px;
    position: relative;
    z-index: 1;
}

/* Gaya sederhana untuk elemen popup peta */
.leaflet-popup-content-wrapper {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.leaflet-popup-tip-container {
    display: none;
}

/* Custom styles for colored markers */
.marker-icon {
    background-color: transparent;
}

.marker-icon .leaflet-marker-icon {
    border-radius: 50%;
    border: 2px solid;
    width: 25px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}

.marker-icon.red .leaflet-marker-icon {
    border-color: red;
}

.marker-icon.blue .leaflet-marker-icon {
    border-color: blue;
}

.marker-icon.green .leaflet-marker-icon {
    border-color: green;
}

.marker-icon.orange .leaflet-marker-icon {
    border-color: orange;
}

.marker-icon.purple .leaflet-marker-icon {
    border-color: purple;
}

.marker-icon.yellow .leaflet-marker-icon {
    border-color: yellow;
}
